<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row" <div class="col-md-4 offset-4">
            <h1 class="text-center">Add Student</h1>
            <form action="/poststudent" method="POST">
                <input type="text" class="form-control mt-3" placeholder="Enter Your Name" name="name">
                <input type="number" class="form-control mt-3" placeholder="Enter Your Phone" name="phone">
                <input type="text" class="form-control mt-3" placeholder="Enter Your Location" name="location">
                <button type="submit" class="btn mt-3 btn-success">Submit</button>
            </form>
        </div>
    </div>

</body>

</html>