
<html>
    <body>
        <ul>
            {{#each details}}
            <li><pre>Name: {{this.name}}   Mobile: {{this.mobile}} Email: {{this.email}}   ID:{{this.ID}}   </pre></li>
             {{/each}}
        </ul>
    </body>

</html>
