<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container bg-dark pb-2 mt-5">
      <div class="row ">
        <div class="col-md-5 offset-md-2 " >
    <form action="/user" method="POST">
     <input type="name" class="w-100 mt-2 bg-light border-0 text-center" name= "name"  placeholder="Enter Name"></br>
      <input type="password" class="w-100 mt-2 bg-light border-0 text-center" name="password" placeholder="Enter Password"></br>
      <button class="btn btn-lg btn-primary mt-2  text-center" type="submit">User Login</button>
    </form>
     </div>
  </div>
</div>

</body>
</html>