#table_data {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%

  }
 
  
  #table_data td, #table_data th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table_data tr:nth-child(even){background-color: #f2f2f2;}
  
  #table_data tr:hover {background-color: #ddd;}
  
  #table_data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(76, 163, 175);
    color: white;
  }
  